USE [master]
GO
/****** Object:  Database [FestivalCateringAPP]    Script Date: 17.01.2026 15:28:09 ******/
CREATE DATABASE [FestivalCateringAPP]

USE [FestivalCateringAPP]
GO
/****** Object:  Table [dbo].[GlobalIDs]    Script Date: 17.01.2026 15:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GlobalIDs](
	[ID] [int] NOT NULL,
	[Name] [varchar](max) NULL,
	[NextID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 17.01.2026 15:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[ID] [int] NOT NULL,
	[TicketNR] [int] NULL,
	[MSG] [varchar](max) NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order2Ticket]    Script Date: 17.01.2026 15:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order2Ticket](
	[ID] [int] NOT NULL,
	[OrderID] [int] NULL,
	[TicketNR] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderPositions]    Script Date: 17.01.2026 15:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderPositions](
	[OrderID] [int] NOT NULL,
	[PositionNR] [int] NOT NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[PositionNR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 17.01.2026 15:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] NOT NULL,
	[Time] [int] NULL,
	[timestamp] [datetime] NULL,
	[Price] [money] NULL,
	[StatusID] [int] NULL,
	[SpecialRequest] [nvarchar](max) NULL,
	[StandID] [int] NULL,
	[Prioritized] [bit] NULL,
	[PlacedByTicketNR] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 17.01.2026 15:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Price] [money] NULL,
	[Time] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stand2Product]    Script Date: 17.01.2026 15:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stand2Product](
	[StandID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StandID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stands]    Script Date: 17.01.2026 15:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stands](
	[StandID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[StandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 17.01.2026 15:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusID] [int] NOT NULL,
	[StatusText] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 17.01.2026 15:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[TicketNR] [int] NOT NULL,
	[Password] [nvarchar](30) NULL,
	[Credit] [money] NULL,
	[VIP] [bit] NULL,
	[StandID] [int] NULL,
	[QrPayload] [nvarchar](MAX) NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketNR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[GlobalIDs] ([ID], [Name], [NextID]) VALUES (1, N'Orders', 3)
INSERT [dbo].[GlobalIDs] ([ID], [Name], [NextID]) VALUES (2, N'Order2Ticket', 4)
INSERT [dbo].[GlobalIDs] ([ID], [Name], [NextID]) VALUES (3, N'Product', 5)
GO
INSERT [dbo].[Messages] ([ID], [TicketNR], [MSG]) VALUES (1, 1234567, N'Bestellung an Stand 1 erfolgreich aufgegeben.')
INSERT [dbo].[Messages] ([ID], [TicketNR], [MSG]) VALUES (2, 8910111, N'Bestellung an Stand 3 erfolgreich aufgegeben.')
INSERT [dbo].[Messages] ([ID], [TicketNR], [MSG]) VALUES (3, 1234567, N'Für sie wurde eine Bestellung an Stand 3 freigeschaltet.')
GO
INSERT [dbo].[Order2Ticket] ([ID], [OrderID], [TicketNR]) VALUES (1, 1, 1234567)
INSERT [dbo].[Order2Ticket] ([ID], [OrderID], [TicketNR]) VALUES (2, 2, 8910111)
INSERT [dbo].[Order2Ticket] ([ID], [OrderID], [TicketNR]) VALUES (3, 2, 1234567)
GO
INSERT [dbo].[OrderPositions] ([OrderID], [PositionNR], [ProductID], [Quantity]) VALUES (1, 1, 1, 1)
INSERT [dbo].[OrderPositions] ([OrderID], [PositionNR], [ProductID], [Quantity]) VALUES (1, 2, 2, 1)
INSERT [dbo].[OrderPositions] ([OrderID], [PositionNR], [ProductID], [Quantity]) VALUES (2, 1, 4, 2)
GO
INSERT [dbo].[Orders] ([OrderID], [Time], [timestamp], [Price], [StatusID], [SpecialRequest], [StandID], [Prioritized], [PlacedByTicketNR]) VALUES (1, 16, CAST(N'2025-12-29T15:07:02.110' AS DateTime), 22.0000, 4, N'Meeehhhhhhhrrrrrrrrrrrrrr Tomaten!!!!', 1, 0, 1234567)
INSERT [dbo].[Orders] ([OrderID], [Time], [timestamp], [Price], [StatusID], [SpecialRequest], [StandID], [Prioritized], [PlacedByTicketNR]) VALUES (2, 0, CAST(N'2025-12-29T15:08:35.967' AS DateTime), 10.0000, 2, N'Extra scharf', 3, 0, 8910111)
GO
INSERT [dbo].[Products] ([ProductID], [Name], [Price], [Time]) VALUES (1, N'Pizza Hawaii', 10.0000, 8)
INSERT [dbo].[Products] ([ProductID], [Name], [Price], [Time]) VALUES (2, N'Pizza Kebab', 12.0000, 8)
INSERT [dbo].[Products] ([ProductID], [Name], [Price], [Time]) VALUES (3, N'Nacho Bowl', 7.0000, 10)
GO
INSERT [dbo].[Stand2Product] ([StandID], [ProductID], [Quantity]) VALUES (1, 1, 20)
INSERT [dbo].[Stand2Product] ([StandID], [ProductID], [Quantity]) VALUES (1, 2, 60)
INSERT [dbo].[Stand2Product] ([StandID], [ProductID], [Quantity]) VALUES (2, 3, 10)
GO
INSERT [dbo].[Stands] ([StandID], [Name]) VALUES (1, N'Pizza')
INSERT [dbo].[Stands] ([StandID], [Name]) VALUES (2, N'Mexican')
INSERT [dbo].[Stands] ([StandID], [Name]) VALUES (3, N'Soup')
GO
INSERT [dbo].[Status] ([StatusID], [StatusText]) VALUES (1, N'Bestellung aufgegeben')
INSERT [dbo].[Status] ([StatusID], [StatusText]) VALUES (2, N'In Bearbeitung')
INSERT [dbo].[Status] ([StatusID], [StatusText]) VALUES (3, N'Bereit zur Abholung')
GO
INSERT [dbo].[Tickets] ([TicketNR], [Password], [Credit], [VIP], [StandID], [QrPayload]) VALUES (1234567, N'OneTwoThreeForFive', 33.0000, 0, NULL, 'TicketNR = 1234567')
INSERT [dbo].[Tickets] ([TicketNR], [Password], [Credit], [VIP], [StandID], [QrPayload]) VALUES (8910111, N'TestTest', 12.0000, 1, NULL, 'TicketNR = 8910111')
INSERT [dbo].[Tickets] ([TicketNR], [Password], [Credit], [VIP], [StandID], [QrPayload]) VALUES (11111111, N'Admin', 0.0000, 0, 1, NULL)
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([TicketNR])
REFERENCES [dbo].[Tickets] ([TicketNR])
GO
ALTER TABLE [dbo].[Order2Ticket]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Order2Ticket]  WITH CHECK ADD FOREIGN KEY([TicketNR])
REFERENCES [dbo].[Tickets] ([TicketNR])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([StandID])
REFERENCES [dbo].[Stands] ([StandID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([StatusID])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([StandID])
REFERENCES [dbo].[Stands] ([StandID])
GO
USE [master]
GO
